body {
  background-color: #d1d8be;
}
img {
  height: 250px;
  width: 250px;
  border: solid black 1px;
}
.container {
  padding: 10px;
  text-align: center;
}
.container__gallery div {
  display: inline-block;
  height: 300px;
  width: 350px;
  margin-top: 10px;
}
hr {
  height: 3px;
  background-color: #819a91;
  width: 50%;
}
.container__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
