body{
    padding: 0;
    margin: 0;
}
.main__heading{
    text-align: center;
    background-color: #F885C1;
}
.main__heading h1{
    font-size: 38px;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

.container__card{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 250px;
    color: aliceblue;
    border-radius: 15px;
    padding: 10px;
}
.card__two{
    padding-left: 10px;
    border: solid white 1px;
    border-radius: 10px;
    text-align: left;
}

